<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <style type="text/tailwindcss">
        @layer base {
            body {
                font-family: "Times New Roman", Arial, serif;
            }

            table {
                @apply w-full rounded-lg overflow-hidden shadow-xl print:shadow-none;
            }

            table tr {
                border-color: rgba(100, 100, 100, .3) !important;
            }

            table tr td {
                white-space: nowrap;
            }

            table tr td:first-child {
                white-space: normal;
            }

            table tr td:nth-child(1) {
                @apply pl-2 text-gray-300;
                background: #2B2D30 !important;
            }

            table tr:first-child td {
                @apply text-white font-bold;
                background: #2B2D30 !important;
            }

            table tr td:nth-child(1) b {
                @apply text-white;
            }

            table tr td:nth-child(1),
            table tr td:nth-child(4),
            table tr td:nth-child(5) {
                background: #f8f8f8
            }
        }
    </style>
</head>
<body>

<div class="max-w-5xl mx-auto prose text-center my-10">
    <h1 class="mb-5">{{title}}</h1>

    {{html}}

    <script>
        function stringToFloat(string) {
            return parseFloat(string.replace('.', '').replace(',', '.').replace(/[^0-9.]/g, ''));
        }

        $('table').find('tr').each(function () {
            if ($(this).find('td:eq(0)').text() === 'Komponenten') return;
            if ($(this).find('td:eq(1)').text() === '') return;
            if (!$(this).find('td:eq(1)').text().match(/[\d]/)) return;

            let title = $(this).find('td:eq(0)').text()

            for (let item of [1, 3, 5]) {
                let i = item;
                let j = item + 1;

                let difference = stringToFloat($(this).find('td:eq(' + i + ')').text()) -
                        stringToFloat($(this).find('td:eq(' + j + ')').text());

                let differenceReverse = stringToFloat($(this).find('td:eq(' + j + ')').text()) -
                        stringToFloat($(this).find('td:eq(' + i + ')').text());

                let isInverse = title.match(/(Anfragen|Anfragen pro Sekunde|Durchsatz|Performance-Score)/) &&
                        !title.match(/(Fehlgeschlagene)/);
                let condition = isInverse ? difference > 0 : difference < 0;
                let isEqual = difference === 0;

                $(this).find('td:eq(' + i + ')').css({
                    'color': isEqual ? 'black' : (condition ? 'green' : 'red'),
                    'font-weight': isEqual ? 'normal' : (condition ? 'bold' : 'normal'),
                });

                if (!isEqual && !condition) {
                    let differencePercent = Math.round((difference / stringToFloat($(this).find('td:eq(' + j + ')').text())) * 100);

                    if (differencePercent > 0) {
                        differencePercent = '+' + differencePercent;
                    }

                    $(this).find('td:eq(' + i + ')').html($(this).find('td:eq(' + i + ')').text() + ' <small>(' + differencePercent + '%)</small>');
                }

                $(this).find('td:eq(' + j + ')').css({
                    'color': isEqual ? 'black' : (!condition ? 'green' : 'red'),
                    'font-weight': isEqual ? 'normal' : (!condition ? 'bold' : 'normal'),
                });

                if (!isEqual && condition) {
                    let differencePercent = stringToFloat($(this).find('td:eq(' + j + ')').text()) / stringToFloat($(this).find('td:eq(' + i + ')').text()) * 100

                    if (isInverse) {
                        differencePercent = -Math.round((1 - (stringToFloat($(this).find('td:eq(' + j + ')').text()) / stringToFloat($(this).find('td:eq(' + i + ')').text()))) * 100) + '%'
                    } else if (differencePercent === Infinity) {
                        differencePercent = '∞';
                    } else if (differencePercent > 0) {
                        differencePercent = '+' + Math.round(differencePercent - 100) + '%';
                    }

                    $(this).find('td:eq(' + j + ')').html($(this).find('td:eq(' + j + ')').text() + ' <small>(' + differencePercent + ')</small>');
                }
            }
        });
    </script>
</div>
</body>
</html>
